---
import BaseHead from '../../components/BaseHead.astro'
import Header from '../../components/Header.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../../../consts'
import { getCollection } from 'astro:content'
import FormattedDate from '../../components/FormattedDate.astro'

const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
)
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-blog-blue">
    <Header />

    <main class="container mx-auto p-4">
      <h1 class="text-3xl md:text-5xl font-bold text-gray-100">Blog</h1>
      <div class="grid grid-rows-4 grid-flow-col gap-6">
        {
          posts.map((post) => (
            <div class="w-full max-w-1xl mx-auto overflow-hidden bg-white rounded-lg shadow-md dark:bg-gray-800 mb-4 mt-4">
              <img
                class="object-cover w-full h-64"
                src={post.data.image}
                alt="Article"
              />
              <div class="p-6">
                <div>
                  {post.data.tags.map((tag) => (
                    <span class="text-xs px-1 font-medium text-blue-600 uppercase dark:text-blue-400">
                      {tag}
                    </span>
                  ))}
                  <a
                    href={`/blog/${post.slug}/`}
                    class="block mt-2 text-2xl font-semibold text-gray-800 transition-colors duration-200 transform dark:text-white hover:text-gray-600 hover:underline"
                  >
                    {post.data.title}
                  </a>
                  <p class="mt-2 text-sm text-gray-600 dark:text-gray-400">
                    {post.data.description}
                  </p>
                </div>

                <div class="mt-8">
                  <div class="flex md:flex-row md:items-center flex-col">
                    <div class="flex items-center">
                      <img
                        class="object-cover h-10 rounded-full"
                        src="avatar.jpg"
                        alt="Avatar"
                      />
                      <span class="pl-4 dark:text-gray-200">by:</span>
                      <a
                        href="#"
                        class="mx-2 font-semibold text-gray-700 dark:text-gray-200"
                      >
                        {post.data.author}
                      </a>
                    </div>
                    <span class="mx-1 mt-4 md:mt-0 text-xs text-gray-600 dark:text-gray-300">
                      <FormattedDate date={post.data.date} />
                    </span>
                  </div>
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </main>
  </body>
</html>
