---
import {Icon} from '@iconify/react'
import {footerSocials} from '../../constants/index.ts'
const today = new Date()
---

<style>
  footer {
    padding: 2em 1em 6em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 5em;
    margin-top: 1em;
    margin: 0 auto;
  }
  .social-links a {
    margin-top: 2em;
    text-decoration: none;
    color: rgb(var(--gray));
  }
  .social-links a:hover {
    color: rgb(var(--gray-dark));
  }
</style>

<footer>
  &copy; {today.getFullYear()} Anthony Lombardi. All rights reserved.
  <div class="social-links container">
    {
      Object.entries(footerSocials).map(([platform, url]) => (
        <a href={url} target="_blank" rel="noopener noreferrer">
          <span class="sr-only">T0nylombardi's {platform.toUpperCase()}</span>
          <Icon icon={`fe:${platform}`} />
        </a>
      ))
    }
  </div>
</footer>

<style>
  Icon {
    width: 1.5rem;
    height: 1.5rem;
  }
</style>
