---
import {Sprite} from 'astro-icon'
import BaseWrapper from '../layouts/BaseWrapper.astro'
import BlogPostList from '../components/BlogPostList.astro'
import ProjectCard from '../components/ProjectCard.astro'
import ContactForm from '../components/ContactForm.astro'
import CTA from '../components/CTA.astro'
import {socials, DOB} from '../constants/index.ts'

let ageDifMs = Date.now() - new Date(DOB).getTime()
let ageDate = new Date(ageDifMs)
let yearsOld = Math.abs(ageDate.getUTCFullYear() - 1970)
---

<BaseWrapper>
  <div class="sm:container sm:mx-auto lg:container lg:mx-auto px-4 sm:px-4 md:px-4 py-24 lg:py-40">
    <header id="hello" class="sm:container sm:mx-auto container mx-auto flex items-center flex-col-reverse md:flex-row w-full">
      <div class="flex-1 px-4 md:px-0 py-24 lg:py-40">
        <p class="text-lg font-medium">Hey, I'm</p>
        <h1 class="text-4xl bold">Anthony Lombardi</h1>
        <h2 class="text-gradient text-2xl">&gt; Full-Stack Engineer</h2>
        <div class="font-medium mt-9 flex flex-col space-y-1">
          <p class="comment">// personal data</p>
          <p>
            <span class="text-[#4D5BCE]">let{' '}</span>
            <span class="text-[#43D9AD]">age</span> =
            <span id="age" class="text-[#E99287]">{yearsOld}</span>
          </p>
          <p>
            <span class="text-[#4D5BCE]">let{' '}</span>
            <span class="text-[#43D9AD]">location</span> =
            <span class="text-[#E99287]">"Westchester, New York"</span>
          </p>
          <p class="comment pt-4">// list of my social links</p>
          <p>
            <span class="text-[#4D5BCE]">const{' '}</span>
            <span class="text-[#43D9AD]">github</span> =
            <a class="text-[#E99287] hover" href={socials.github}>“{socials.github}”</a>
          </p>
          <p>
            <span class="text-[#4D5BCE]">const{' '}</span>
            <span class="text-[#43D9AD]">twitter</span> =
            <a href={socials.twitter} class="text-[#E99287] hover">“{socials.twitter}”</a>
          </p>
          <p>
            <span class="text-[#4D5BCE]">const{' '}</span>
            <span class="text-[#43D9AD]">Instagram</span> =
            <a href={socials.instagram} class="text-[#E99287] hover">“{socials.instagram}”</a>
          </p>
        </div>
        <CTA link="resume" />
      </div>
      <div class="flex-1 flex justify-center items-center">
        <img src="/amoji_avatar.svg" />
      </div>
    </header>

    <section id="about" class="flex items-center flex-col-reverse md:flex-row">
      <div class="flex-1 flex justify-center items-center">
        <div class="flex flex-wrap showcase gap-16 mt-12 justify-center">
          <Sprite name="logos:ruby" />
          <Sprite name="logos:rails" />
          <Sprite name="vscode-icons:file-type-html" />
          <Sprite name="vscode-icons:file-type-css" />

          <Sprite name="logos:javascript" />
          <Sprite name="logos:typescript-icon" />
          <Sprite name="logos:react" />
          <Sprite name="vscode-icons:file-type-astro" />

          <Sprite name="logos:nodejs-icon" />
          <Sprite name="logos:postgresql" />
          <Sprite name="logos:docker-icon" />
          <Sprite name="logos:go" />

          <Sprite name="ion:logo-github" class="text-azure" />
          <div class="hidden sm:block md:hidden lg:block">
            <Sprite name="emojione:taco" />
          </div>
          <Sprite name="vscode-icons:file-type-vscode" />
          <Sprite name="vscode-icons:file-type-tailwind" />
        </div>
      </div>
      <div class="flex-1">
        <h3 class="text-4xl font-medium">_about-me</h3>
        <p class="comment mt-2">// get a small overview of who i am</p>
        <p class="mt-9">
          A self-taught meticulous & motivated Full Stack Developer with 10+ years of hands-on experience particularly
          in Ruby and Ruby on Rails. I have worked on Ruby on Rails e-commerce architecture, breaking down monoliths,
          working on microservices, helping with devops, and leading a team through the full stack life cycle. From my
          first professional job as a Jr developer, My journey has been driven by an insatiable curiosity for emerging
          technologies. With a passion for staying at the forefront of innovation, I'm excited to contribute to this
          dynamic field and be a part of its remarkable journey. I am also committed to actively learning from every
          experience that I have. During every job and position I have held, I learned about what it takes to succeed in
          this field, and I've carried that lesson throughout the years as I've worked.
        </p>
        <CTA link="resume" />
      </div>
    </section>

    <section id="projects" class="flex flex-col">
      <h3 class="text-4xl font-medium">_projects</h3>
      <div>
        <div id="projects-list" class="flex flex-col justify-between w-full mt-12">
          <ProjectCard
            img="/projects/churp.png"
            width="w-[12rem]"
            link="https://github.com/t0nylombardi/churp"
            title="Churp Solical"
            technologies="Ruby on Rails 7.1, Redis, EslaticSearch, Docker"
            description="Let's face it. Twitter/X has become a dumpster fire 🔥This is my attempt to bring back the good ole days twitter used to be.This project is not an attempt to be a decentralized network or some blockchain application."
          />

          <ProjectCard
            img="/projects/rails_template.png"
            width="w-[23rem]"
            link="https://github.com/t0nylombardi/rails_template"
            title="Rails Template"
            technologies="Ruby"
            description="Alot of time starting a new Rails project can be tedious(for me at least). Mostly setting up all the tools/technologies you want to use. This template script attempts to making the setup of a new app faster. The app sets up A Rails project with Docker, Rspec, Devise, Sidekiq, Active Storage, Action Text and Tailwind."
          />
        </div>
      </div>
    </section>

    <section id="blog" class="flex flex-col items-center justify-center">
      <h3 class="text-4xl font-medium">_blog</h3>

      <BlogPostList limit={3} />

      <a href="/blog/" class="btn-primary mt-12 block">See more blog posts</a>
    </section>
    <ContactForm />
  </div>
</BaseWrapper>

<style>
  section {
    margin: 8rem 0;
  }

  @media screen and (min-width: 668px) {
    section {
      margin: 12rem 0;
    }
  }

  section:last-of-type {
    margin-top: 12rem;
    margin-bottom: 0;
  }

  .icon svg {
    width: 1rem;
    height: 1rem;
  }

  .showcase {
    max-width: calc(4 * 4rem + 3 * 4rem);
  }

  .showcase svg {
    width: 4rem;
    height: 4rem;
  }

  .hover {
    @apply hover:text-gray-200;
  }

  .text-gradient {
    background: -webkit-linear-gradient(90deg, #a478e8 0%, #3b82f6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
