---
import BaseWrapper from '../layouts/BaseWrapper.astro'
import BlogPostList from '../components/BlogPostList.astro'
import ProjectCard from '../components/ProjectCard.astro'
import {ContactForm} from '../components/ContactForm/'
import LanguagesSprites from '../components/LanguagesSprites.astro'
import CTA from '../components/CTA.astro'
import {socials, DOB, Projects, AboutMe} from '../constants/index.ts'

let ageDifMs = Date.now() - new Date(DOB).getTime()
let ageDate = new Date(ageDifMs)
let yearsOld = Math.abs(ageDate.getUTCFullYear() - 1970)
---

<style>
  section {
    margin: 8rem 0;
  }

  section:last-of-type {
    margin-top: 8rem;
    margin-bottom: 0;
  }

  .icon svg {
    width: 1rem;
    height: 1rem;
  }

  .showcase {
    max-width: calc(4 * 4rem + 3 * 4rem);
  }

  .showcase svg {
    width: 4rem;
    height: 4rem;
  }

  .hover {
    @apply hover:text-gray-200;
  }

  .text-gradient {
    background: -webkit-linear-gradient(90deg, #a478e8 0%, #3b82f6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>

<BaseWrapper>
  <div class="sm:container sm:mx-auto lg:container lg:mx-auto px-4 sm:px-4 md:px-4 py-24 lg:py-40">
    <header
      id="hello"
      class="sm:container sm:mx-auto container mx-auto flex items-center flex-col-reverse md:flex-row w-full"
    >
      <div class="flex-1 px-4 md:px-0 py-24 lg:py-40">
        <p class="text-lg font-medium">Hey, I'm</p>
        <h1 class="text-4xl bold">Anthony Lombardi</h1>
        <h2 class="text-gradient text-2xl">&gt; Full-Stack Engineer</h2>
        <div class="font-medium mt-9 flex flex-col space-y-1">
          <p class="comment">// personal data</p>
          <p>
            <span class="text-[#4D5BCE]">let{' '}</span>
            <span class="text-[#43D9AD]">age</span> =
            <span id="age" class="text-[#E99287]">{yearsOld}</span>
          </p>
          <p>
            <span class="text-[#4D5BCE]">let{' '}</span>
            <span class="text-[#43D9AD]">location</span> =
            <span class="text-[#E99287]">"Westchester, New York"</span>
          </p>
          <p class="comment pt-4">// list of my social links</p>
          <p>
            <span class="text-[#4D5BCE]">const{' '}</span>
            <span class="text-[#43D9AD]">github</span> =
            <a class="text-[#E99287] hover" href={socials.github}>“{socials.github}”</a>
          </p>
          <p>
            <span class="text-[#4D5BCE]">const{' '}</span>
            <span class="text-[#43D9AD]">twitter</span> =
            <a href={socials.twitter} class="text-[#E99287] hover">“{socials.twitter}”</a>
          </p>
          <p>
            <span class="text-[#4D5BCE]">const{' '}</span>
            <span class="text-[#43D9AD]">Instagram</span> =
            <a href={socials.instagram} class="text-[#E99287] hover">“{socials.instagram}”</a>
          </p>
        </div>
        <CTA link="resume" />
      </div>
      <div class="flex-1 flex justify-center items-center">
        <img src="/amoji_avatar.svg" />
      </div>
    </header>

    <section id="about" class="flex items-center flex-col-reverse md:flex-row">
      <div class="hidden flex-1 lg:flex justify-center items-center">
        <LanguagesSprites />
      </div>

      <div class="flex-1 mb-8">
        <h3 class="text-4xl font-medium">_about-me</h3>
        <p class="comment mt-2">// get a small overview of who I am</p>
        <p class="mt-9">
          {AboutMe}
        </p>
      </div>
    </section>

    <section id="projects" class="flex flex-col mt-[10rem]">
      <h3 class="text-4xl font-medium">_projects</h3>
      <div>
        <div id="projects-list" class="flex flex-col justify-between w-full mt-12">
          {
            Projects.map((project) => (
              <ProjectCard
                img={project.img}
                width={project.width}
                link={project.link}
                title={project.title}
                technologies={project.technologies}
                description={project.description}
              />
            ))
          }
        </div>
      </div>
    </section>

    <section id="blog" class="flex flex-col items-center justify-center">
      <h3 class="text-4xl font-medium">_blog</h3>
      <BlogPostList limit={3} />
      <a href="/blog/" class="btn-primary text-2xl block py-16">See more blog posts</a>
    </section>
    <ContactForm client:only="react" />
  </div>
</BaseWrapper>
