---
import BaseWrapper from '../layouts/BaseWrapper.astro'
import {Profile, WorkHistory} from '../constants/resume'
import SkillList from '../components/resume/skills'
---

<BaseWrapper>
  <main class="md:mx-auto py-25">
    <div class="resume">
      <div class="resume-header">
        <a href="/">
          <h1 class="text-2xl md:text-7xl text-ctp-text font-extrabold">ANTHONY LOMBARDI</h1>
        </a>
        {/* MOBILE VERSION */}
        <div class="block md:hidden text-center text-ctp-peach-500 py-6 space-y-2">
          <p class="text-3xl font-bold">Father</p>

          <p class="text-lg font-medium">Consultant &#8226; Mentor</p>

          <p class="text-lg font-bold">FullStack Engineer</p>
        </div>

        {/* DESKTOP VERSION */}
        <h3 class="hidden md:block text-2xl text-ctp-peach-500 py-6">
          Father &#8226; Consultant &#8226; Mentor &#8226; FullStack Engineer
        </h3>
      </div>
      <div class="resume-body-wrapper border-t-2 border-ctp-text">
        <div class="flex flex-row">
          <div class="hidden md:block flex-row skills-hobbies border-r-2 border-ctp-text">
            <div class="skills">
              <h2 class="text-2xl text-ctp-text">|> SKILLS</h2>
              <div class="py-4">
                <SkillList client:only="react" />
              </div>
            </div>

            <div class="hobbies text-ctp-text">
              <h2 class="text-2xl text-ctp-text">|> HOBBIES</h2>
              <hr />
              <p>
                Spending time with my two beautiful children, Exploring the Outdoors, Building guitars && Woodworking,
                Playing Guitar, and Cooking. I am also a huge fan of the <span class="text-ctp-yellow-500"
                  >Pittsburgh Steelers</span
                > and the <span class="text-ctp-blue-500">New York Yankees</span>. Life's a grand adventure, my friends,
                and I'm just here to soak it all in, one epic moment at a time. Cheers to family, hobbies, and sports
                fandoms that never quit!
              </p>
            </div>
          </div>
          <div class="flex-auto w-full resume-main">
            <div class="profile">
              <h2 class="text-2xl text-ctp-text">|> PROFILE</h2>
              <hr />
              <p class="text-sm md:text-lg border-b-2 border-ctp-text mb-8">
                {Profile}
              </p>
            </div>
            <div class="employment-history border-b-2 border-ctp-text">
              <h2 class="text-2xl text-ctp-text">|> EMPLOYMENT HISTORY</h2>
              <hr />

              {
                WorkHistory.map((job, _i) => () => (
                  <div class="employment mb-4">
                    <div class="grid grid-cols-4">
                      <div class="col-span-3 text-left text-lg font-bold text-ctp-mauve-500">{`${job.title}, ${job.company}`}</div>
                      <div class="text-left md:text-right font-bold text-ctp-peach-500">{job.location}</div>
                    </div>

                    <p class="employment-date text-ctp-text mb-2">{job.date}</p>

                    <div class="highlights">
                      <ul class="list-inside list-disc">
                        {job.highlights.map((highlight, _index) => (
                          <li class="text-sm pb-2 md:text-lg md:pl-2">{highlight}</li>
                        ))}
                      </ul>
                    </div>
                  </div>
                ))
              }
            </div>
            <div class="education pt-5">
              <h2 class="text-2xl text-ctp-text">|> EDUCATION</h2>
              <hr />
              <div class="grid grid-cols-4">
                <div class="text-sm md:text-lg col-span-3 text-left font-bold text-ctp-mauve-500">
                  CSM, College of Westchester
                </div>
                <div class="font-bold text-sm md:text-lg text-right text-ctp-peach-500">White Plains, NY</div>
              </div>
              <p class="employment-date text-ctp-text">Sep 2004 &hyphen; May 2006</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</BaseWrapper>
