---
import {Icon} from 'astro-icon/components'
import { socials } from '../constants/index.ts'
const today = new Date()
---

<style>
  footer {
    padding: 2em 1em 6em 1em;
    background: linear-gradient(var(--gray-gradient)) no-repeat;
    color: rgb(var(--gray));
    text-align: center;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 5em;
    margin-top: 1em;
    margin: 0 auto;
  }
  .social-links a {
    margin-top: 2em;
    text-decoration: none;
    color: rgb(var(--gray));
  }
  .social-links a:hover {
    color: rgb(var(--gray-dark));
  }
</style>


<footer>
  &copy; {today.getFullYear()} Anthony Lombardi. All rights reserved.
  <div class="social-links container">
    <a href={socials.twitter} target="_blank">
      <span class="sr-only">T0nylombardi's Twitter</span>
      <Icon class="text-4xl" name="fe:twitter" />
    </a>
    <a href={socials.github} target="_blank">
      <span class="sr-only">T0nylombardi's GitHub repo</span>
      <Icon class="text-4xl" name="fe:github" />
    </a>
    <a href={socials.instagram} target="_blank">
      <span class="sr-only">T0nylombardi's Instagram</span>
      <Icon class="text-4xl" name="fe:instagram" />
    </a>
  </div>
</footer>
