---
import { Sprite } from 'astro-icon'
import type {CollectionEntry} from 'astro:content'
import BaseHead from '../components/BaseHead.astro'
import Nav from '../components/Nav.astro'
import Footer from '../components/Footer.astro'
import { ViewTransitions } from 'astro:transitions'

import FormattedDate from '../components/FormattedDate.astro'

type Props = CollectionEntry<'blog'>['data']

const {title, description, date, originalDatePublished, heroImage, author} = Astro.props
---

<script>
  let copyButtonLabel = 'Copy Code'
  let codeBlocks = Array.from(document.querySelectorAll('pre'))

  for (let codeBlock of codeBlocks) {
    let wrapper = document.createElement('div')
    wrapper.style.position = 'relative'

    let copyButton = document.createElement('button')
    copyButton.className = 'copy-code'
    copyButton.innerHTML = copyButtonLabel

    codeBlock.setAttribute('tabindex', '0')
    codeBlock.appendChild(copyButton)
    // wrap codebock with relative parent element
    codeBlock?.parentNode?.insertBefore(wrapper, codeBlock)
    wrapper.appendChild(codeBlock)

    copyButton.addEventListener('click', async () => {
      await copyCode(codeBlock, copyButton)
    })
  }

  async function copyCode(block, button) {
    let code = block.querySelector('code')
    let text = code.innerText

    await navigator.clipboard.writeText(text)

    // visual feedback that task is completed
    button.innerText = 'Code Copied'

    setTimeout(() => {
      button.innerText = copyButtonLabel
    }, 700)
  }
</script>

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <ViewTransitions />
  </head>

  <body class="bg-blog-blue">
    <Sprite.Provider>
    <Nav />
    <div class="mb-10 max-w-screen-lg container-2xl mx-auto bg-blog-blue py-20">
      <div class="overflow-auto">
        <div class="container p-5 mx-auto overflow-auto">
          <div class="flex flex-col text-center w-full mt-10">
            <h1 class="sm:text-[2rem] text-[2.5rem] py-4 font-medium title-font text-gray-100">
              {title}
            </h1>
            <h4 class=" text-azure/50 tracking-widest font-medium title-font mb-1">
              by: {author}
            </h4>
            <div class="m4 text-gray-100">
              <h2 class="sm:text-[2rem] text-[2.25rem] pt-6">{description}</h2>
            </div>
          </div>
        </div>
        <article class="md:container md:mx-auto mt-8 mb-8 px-6 text-gray-100">
          <slot />
        </article>
      </div>
    </div>
    <Footer />
    </Sprite.Provider>
  </body>
</html>

<style>

</style>

