---
import {SEO} from 'astro-seo'
import type {CollectionEntry} from 'astro:content'
import BaseHead from '../components/Layouts/BaseHeader.astro'
import {Nav} from '../components/Layouts/Nav'
import Footer from '../components/Layouts/Footer'
import {Icon} from '@iconify/react'
import Analytics from '../components/Analytics'
import FormattedDate from '../components/FormattedDate.astro'

type Props = CollectionEntry<'blog'>['data']

const {title, description, date, originalDatePublished, heroImage, author, seo} = Astro.props
const currentPath = Astro.url.pathname
---

<script>
  let copyButtonLabel = 'Copy Code'
  let codeBlocks = Array.from(document.querySelectorAll('pre'))

  for (let codeBlock of codeBlocks) {
    let wrapper = document.createElement('div')
    wrapper.style.position = 'relative'

    let copyButton = document.createElement('button')
    copyButton.className = 'copy-code'
    copyButton.innerHTML = copyButtonLabel

    codeBlock.setAttribute('tabindex', '0')
    codeBlock.appendChild(copyButton)
    // wrap codebock with relative parent element
    codeBlock?.parentNode?.insertBefore(wrapper, codeBlock)
    wrapper.appendChild(codeBlock)

    copyButton.addEventListener('click', async () => {
      await copyCode(codeBlock, copyButton)
    })
  }

  async function copyCode(block: HTMLElement, button: HTMLButtonElement) {
    let code = block.querySelector('code')
    let text = code ? code.innerText : ''

    await navigator.clipboard.writeText(text)

    // visual feedback that task is completed
    button.innerText = 'Code Copied'

    setTimeout(() => {
      button.innerText = copyButtonLabel
    }, 700)
  }
</script>

<html lang="en">
  <head>
    <SEO
      title={seo?.title}
      description={seo?.description}
      canonical={`https://t0nylombardi.dev${currentPath}`}
      openGraph={{
        basic: {
          title: title,
          url: `https://t0nylombardi.dev${currentPath}`,
          type: 'Article',
          image: heroImage || '',
        },
      }}
      twitter={{
        creator: '@t0nylombardi',
      }}
      extend={{
        link: [{rel: 'icon', href: '/favicon.ico'}],
        meta: [
          {name: 'twitter:image', content: heroImage},
          {name: 'twitter:title', content: title},
          {name: 'twitter:description', content: description},
          {name: 'twitter:card', content: 'summary_large_image'},
          {name: 'twitter:site', content: '@t0nylombardi'},
          {name: 'twitter:creator', content: '@t0nylombardi'},
        ],
      }}
    />
    <BaseHead title={title} description={description} />
  </head>

  <body class="bg-ctp-red-500">
    <Nav client:only="react" />
    <div class="mb-10 max-w-screen-2xl container-2xl mx-auto py-20">
      <main class="overflow-auto">
        <div class="container mx-auto overflow-auto">
          <div class="flex flex-col text-center w-full mt-10">
            <h1 class="text-[1.3rem] md:text-[4rem] py-4 font-medium title-font text-gray-100">
              {title}
            </h1>
            <div class="m-4 text-gray-100 flex justify-center">
              <h2 class="text-[1rem] md:text-[1.5rem] w-full font-thin">{description}</h2>
            </div>
            <h4 class="text-azure/50 tracking-widest px-[5rem] text-[0.6rem] md:text-sm font-light title-font mb-1">
              by: {author} on {date ? <FormattedDate date={date} /> : originalDatePublished}
            </h4>
          </div>
          <div class="hidden md:block my-8 md:my-16 object-contain object-center">
            {heroImage && <img class="hidden w-max md:block " src={heroImage} alt={title} />}
          </div>
        </div>
        <article class="w-full mt-8 mb-8 px-[1.5rem] md:px-[4rem] text-gray-100">
          <slot />
          <div class="mt-4 md:mt-[8rem]">
            <p class="text-[1rem] md:text-[1.5rem]">
              If you liked this article, please consider
              <a href="https://www.buymeacoffee.com/t0nylombardi" class="hover:underline hover:cursor-pointer">
                buying me a coffee</a
              >
              <Icon icon="vscode-icons:file-type-coffeescript" />
            </p>
            <p class="text-[1rem] md:text-[1.5rem]">Cheers!</p>
          </div>
        </article>
      </main>

      <Footer />
      <Analytics client:only="react" />
    </div>
  </body>
</html>

<style>
  Icon {
    @apply w-8 h-8 mx-2 inline-block;
  }
</style>
